In [7]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt 
import seaborn as sns

In [13]:
# load in crime data 
df = pd.read_csv('/Users/CSSBU/Desktop/NYC_crime.csv')
df.drop(df.columns[0], axis=1, inplace=True)
df.head(10)

,CMPLNT_FR_DT,CMPLNT_FR_TM,CMPLNT_TO_DT,CMPLNT_TO_TM,RPT_DT,KY_CD,OFNS_DESC,PD_CD,PD_DESC,CRM_ATPT_CPTD_CD,...,ADDR_PCT_CD,LOC_OF_OCCUR_DESC,PREM_TYP_DESC,PARKS_NM,HADEVELOPT,X_COORD_CD,Y_COORD_CD,Latitude,Longitude,Lat_Lon
0,01/01/2016,00:01:00,12/31/2017,23:59:00,01/02/2019,233,SEX CRIMES,175,"SEXUAL ABUSE 3,2",COMPLETED,...,26,INSIDE,RESIDENCE - PUBLIC HOUSING,NaN,GRANT,996241,236149,40.814850,-73.956682,"(40.81485028900005, -73.95668184799997)"
1,01/01/2016,12:00:00,03/01/2016,12:00:00,03/11/2019,578,HARRASSMENT 2,638,"HARASSMENT,SUBD 3,4,5",COMPLETED,...,6,INSIDE,PHOTO/COPY,NaN,NaN,981983,208095,40.737857,-74.008182,"(40.73785727300003, -74.00818192199995)"
2,02/03/2016,20:40:00,02/03/2019,20:50:00,02/03/2019,344,ASSAULT 3 & RELATED OFFENSES,101,ASSAULT 3,COMPLETED,...,5,INSIDE,BAR/NIGHT CLUB,NaN,NaN,985464,200485,40.716970,-73.995622,"(40.71696988100007, -73.99562209899995)"
3,02/20/2016,00:00:00,08/08/2018,00:00:00,02/20/2019,233,SEX CRIMES,175,"SEXUAL ABUSE 3,2",COMPLETED,...,25,INSIDE,RESIDENCE - APT. HOUSE,NaN,NaN,1000555,230994,40.800694,-73.941109,"(40.800694331000045, -73.94110928599997)"
4,02/25/2016,20:11:00,02/25/2019,20:29:00,02/25/2019,361,OFF. AGNST PUB ORD SENSBLTY &,639,AGGRAVATED HARASSMENT 2,COMPLETED,...,28,INSIDE,RESIDENCE - APT. HOUSE,NaN,NaN,998903,231702,40.802640,-73.947075,"(40.802640491000034, -73.94707461199994)"
5,03/05/2016,00:00:00,03/04/2019,23:35:00,03/05/2019,112,THEFT-FRAUD,739,"FRAUD,UNCLASSIFIED-FELONY",COMPLETED,...,34,INSIDE,RESIDENCE - APT. HOUSE,NaN,NaN,1003411,248824,40.849627,-73.930743,"(40.84962687400008, -73.93074276299996)"
6,03/06/2016,08:00:00,03/06/2016,09:00:00,03/06/2019,116,SEX CRIMES,177,SEXUAL ABUSE,COMPLETED,...,30,INSIDE,RESIDENCE - APT. HOUSE,NaN,NaN,999794,241252,40.828851,-73.943834,"(40.82885104500008, -73.94383419099995)"
7,03/18/2016,13:40:00,03/12/2019,13:46:00,03/18/2019,126,MISCELLANEOUS PENAL LAW,708,"IMPERSONATION 1, POLICE OFFICE",COMPLETED,...,23,NaN,STREET,NaN,NaN,999049,226734,40.789004,-73.946558,"(40.78900443500004, -73.94655820499997)"
8,03/23/2016,00:01:00,03/23/2017,00:01:00,03/23/2019,233,SEX CRIMES,175,"SEXUAL ABUSE 3,2",COMPLETED,...,32,INSIDE,RESIDENCE - APT. HOUSE,NaN,NaN,999358,236472,40.815732,-73.945420,"(40.81573205300003, -73.94542041099999)"
9,03/24/2016,20:00:00,03/25/2016,08:00:00,03/26/2019,341,PETIT LARCENY,321,"LARCENY,PETIT FROM AUTO",COMPLETED,...,33,FRONT OF,STREET,NaN,NaN,999162,243927,40.836194,-73.946112,"(40.83619424000005, -73.94611193699996)"

In [14]:
df.describe()

,KY_CD,PD_CD,ADDR_PCT_CD,PARKS_NM,X_COORD_CD,Y_COORD_CD,Latitude,Longitude
count,26.000000,26.000000,26.000000,0.0,2.600000e+01,26.000000,26.000000,26.000000
mean,221.461538,416.884615,20.846154,NaN,9.941682e+05,225042.269231,40.784365,-73.964169
std,123.405099,270.845392,11.705357,NaN,7.643319e+03,17684.173932,0.048532,0.027616
min,104.000000,101.000000,1.000000,NaN,9.819260e+05,196411.000000,40.705787,-74.008384
25%,112.000000,175.000000,9.250000,NaN,9.860040e+05,208816.500000,40.739838,-73.993674
50%,233.000000,329.500000,25.500000,NaN,9.970630e+05,231052.500000,40.800859,-73.953731
75%,340.000000,715.500000,31.500000,NaN,9.996850e+05,236472.000000,40.815732,-73.944231
max,578.000000,847.000000,34.000000,NaN,1.003411e+06,248824.000000,40.849627,-73.930743